
.divmobile{
    display: none;
}

.NoOneInfo{
    display: none;
}

@media only screen and (max-device-width:480px){
    .divdesk{
        display: none;
    }
    .divmobile{
        display: block;
    }
}